<div class="container-fluid display-table">
  <div class="row display-table-row">
    <div class="col-md-3 col-sm-1 hidden-xs display-table-cell">
      <!--h2 *ngIf="user | async">{{ user | async | json }}</h2-->
      <cfp-navigation [menus]="menus" [user]="(user | async).user"></cfp-navigation>
    </div>
    <div class="col-md-9 col-sm-11 display-table-cell">
      <div class="row">
        <header>
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>
